h1, h2, h3, h4{
    text-align: center;

}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.venues {
    flex-basis: 24%;
    margin: 0 2rem;
    padding: 1rem;
    border: 1px dotted black;
}

.bands {
    flex-basis: 24%;
    margin: 0 2rem;
    padding: 1rem;
    border: 1px dotted black;
}

.list {
    margin: 5px;
 
}

.bandvenue {
    margin: 10px;
}

.vb {
    list-style: none;
    text-align: center;
    padding: 0;
    
}

.bandlist {
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
}